{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage bg-body{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
	{% image page.hero_image fill-400x200 as hero_bg %}
	<div class="hero container text-center text-light my-5" style="background-image: url('{{ hero_bg.url }}');">
		<h1>{{ page.hero_title }}</h1>
		<p>{{ page.hero_text }}</p>
		{% if page.hero_cta_link %}
			<div>
				<a href="{% pageurl page.hero_cta_link %}">
					<button class="hero-btn btn btn-primary my-3">
						{% firstof page.hero_cta page.hero_cta_link.title %}
					</button>
				</a>
			</div>
		{% endif %}
	</div>
	<div class="container my-2">
		{{ page.body|richtext }}
	</div>
{% endblock content %}
