{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage bg-body{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="bg-primary-subtle container-fluid text-center py-2">
		{% image page.hero_image min-200x200 class="my-4" %}
		<h1>{{ page.hero_title }}</h1>
		<p>{{ page.hero_text }}</p>
		{% if page.hero_cta_link %}
			<div class="my-4">
				<a href="{% pageurl page.hero_cta_link %}">
					<button class="hero-btn btn btn-primary">
						{% firstof page.hero_cta page.hero_cta_link.title %}
					</button>
				</a>
			</div>
		{% endif %}
	</div>
	<div class="container-fluid my-5 px-5">
		{{ page.body|richtext }}
	</div>
{% endblock content %}
